	body{
        background-image: url('indbg.jpg');
        background-position: center;
        color: snow;
        background-clip:content-box;
		overflow: visible;
 
           }
	.z{
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
           }
	header{
		font-family:courier;
		text-align:center;
	}
	footer{
		font-family:courier;
		text-align:center;
	}
	header hr{
		width:25%;
		height:4px;
		border:none;
		background-color:lightblue;
		margin: 0 auto;
	}
	footer hr{
		width: 35%;
		height:4px;
		border:none;
		background-color:red;
		margin: 0 auto;
	}
