body{
    color: #efede3;
    font-family: monospace;
    /*background-color:#05614B;*/
    background-image: url("../img/reze.jpg");

    background-position:top;
    color:#f7f7ff;
    padding:0px;
    margin:0px;

}
header{
    font-weight:500;
    font-size: 16px;
}
.centre{
    text-align:center;

}
.reli{
    text-align: center;
    position:relative;
}
.Buttons1{
    position:absolute;
    left:70%;
    top:20%;
    transform: transform: translate(-50%, -50%);
}
.nav1{
 padding:20px;
 background-color:rgba(239, 230, 222,0.2);
}
/*chuj wie czemu nie dziala*/
@font-face {
    font-family: Robocop;
    src: url('../Font/Roboto-Regular.woff');
}
@font-face {
    font-family: Bungee;
    src: url('../Font/Bungee-Regular.ttf');
}
